In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

lowpoint = pd.read_csv('/Users/mattmastin/Desktop/Battery_Research/lowpoint_full.csv')
midpoint = pd.read_csv('/Users/mattmastin/Desktop/Battery_Research/midpoint_full.csv')
highpoint = pd.read_csv('/Users/mattmastin/Desktop/Battery_Research/highpoint_full.csv')
stretchpoint = pd.read_csv('/Users/mattmastin/Desktop/Battery_Research/stretchpoint_full.csv')

lowpoint.shape, midpoint.shape, highpoint.shape, stretchpoint.shape

((690, 14), (690, 14), (690, 14), (690, 14))

In [15]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [33]:
lowpoint.head()

,Rate,Building Type,City,Cost Point Selector,Battery Capacity (kWh),Battery Power (kW),BAU Demand Cost,BAU Energy Cost,Capital Cost ($),Max Demand Rate ($/kW),Npv ($),PV Size (kW),Total Demand Savings ($),Total kWh Savings ($)
0,E-19_Medium_General_Demand_TOU_(Secondary_Volu...,Fast Food,San Francisco,1,65 kWh,11 kW,87751.00,164109.00,$41K,$34.72,$0M,56 kW,32045.80,74991.00
1,Schedule_TOU-GSD-10_Time_Of_Use_-_General_Serv...,Outpatient,Atlanta,1,0 kWh,0 kW,374541.00,900645.00,$36K,$15.66,$0M,74 kW,15181.00,49003.00
2,Power_and_Light_Medium_Schedule_PLM-11,Retail Store,Atlanta,1,0 kWh,0 kW,0.00,235549.00,$0K,$0.00,$0M,0 kW,0.00,0.00
3,General_Service_(A14),Primary School,Duluth,1,0 kWh,0 kW,300907.00,519891.00,$40K,$14.98,$0M,82 kW,22187.00,54835.00
4,A-10_Medium_General_Demand_Service_(Secondary_...,Supermarket,San Francisco,1,903 kWh,125 kW,471299.00,2346650.00,$551K,$16.78,$0M,770 kW,225257.00,1325750.00

In [34]:
midpoint.head()

,Rate,Building Type,City,Cost Point Selector,Battery Capacity (kWh),Battery Power (kW),BAU Demand Cost,BAU Energy Cost,Capital Cost ($),Max Demand Rate ($/kW),Npv ($),PV Size (kW),Total Demand Savings ($),Total kWh Savings ($)
0,Primary_Service_A-2_Rate(B)_Time-Of-Use_(TOU),Hospital,Los Angeles,1,263 kWh,119 kW,2284920.00,7236560.00,"$1,291K",$17.48,$1M,"2,114 kW",513700.00,2731480.00
1,Schedule_MDE-_Medium_Standard_General_Service_...,Supermarket,Seattle,1,0 kWh,0 kW,84094.80,1194410.00,$0K,$2.32,$0M,0 kW,0.00,0.00
2,BES-Large_Load_Delivery_Class_(Secondary),Hospital,Chicago,1,0 kWh,0 kW,1025220.00,5216790.00,$0K,$6.73,$0M,0 kW,0.00,0.00
3,Primary_Service_A-2_Rate(B)_Time-Of-Use_(TOU),Restaurant,Los Angeles,1,9 kWh,4 kW,97555.10,298486.00,$48K,$17.48,$0M,80 kW,22243.20,105042.00
4,General_Service_With_Demand_Meter_(Rate_Code_25),Restaurant,Minneapolis,1,0 kWh,0 kW,34934.70,237610.00,$28K,$5.86,$0M,50 kW,1039.00,47135.00

In [35]:
highpoint.head()

,Rate,Building Type,City,Cost Point Selector,Battery Capacity (kWh),Battery Power (kW),BAU Demand Cost,BAU Energy Cost,Capital Cost ($),Max Demand Rate ($/kW),Npv ($),PV Size (kW),Total Demand Savings ($),Total kWh Savings ($)
0,E-32_STANDARD_PRICE_PLAN_FOR_TIME-OF-USE_GENER...,Large Office,Phoenix,1,0 kWh,0 kW,1064400.00,5036200.00,$457K,$6.65,$0M,674 kW,97372.00,709300.00
1,General_Service_(A14),Primary School,Duluth,1,0 kWh,0 kW,300907.00,519891.00,$1K,$14.98,$0M,2 kW,876.00,1235.00
2,E-19_Medium_General_Demand_TOU_(Secondary_Volu...,Restaurant,San Francisco,1,17 kWh,7 kW,155419.00,283560.00,$54K,$34.72,$0M,67 kW,31314.00,95538.00
3,E-32_STANDARD_PRICE_PLAN_FOR_TIME-OF-USE_GENER...,Small Hotel,Phoenix,1,0 kWh,0 kW,106889.00,589592.00,$0K,$6.65,$0M,0 kW,0.00,0.00
4,GS-2_(S)_Large_General_Service_Secondary,Fast Food,Fairbanks,1,0 kWh,0 kW,32908.50,293718.00,$28K,$11.06,$0M,41 kW,1147.70,61013.00

In [36]:
stretchpoint.head()

,Rate,Building Type,City,Cost Point Selector,Battery Capacity (kWh),Battery Power (kW),BAU Demand Cost,BAU Energy Cost,Capital Cost ($),Max Demand Rate ($/kW),Npv ($),PV Size (kW),Total Demand Savings ($),Total kWh Savings ($)
0,LGS-2_Large_General_Service-_Secondary_Distrib...,Large Hotel,LasVegas,1,0 kWh,0 kW,547920.00,1362130.00,$142K,$16.49,$0M,320 kW,904.00,265840.00
1,2A_(Small_Power_Service),Small Office,Albuquerque,1,0 kWh,0 kW,0.00,89940.70,$14K,$0.00,$0M,30 kW,0.00,39972.40
2,BES-Medium_Load_Delivery_Class_(Secondary),Hospital,Chicago,1,0 kWh,0 kW,958188.00,5216790.00,$574K,$6.29,$0M,"1,287 kW",50744.00,965060.00
3,Power_and_Light_Medium_Schedule_PLM-11,Fast Food,Atlanta,1,0 kWh,0 kW,0.00,85605.10,$0K,$0.00,$0M,0 kW,0.00,0.00
4,Time-Of-Use_-_General_Service_-_Large_TOU-8_Op...,Large Hotel,Anaheim,1,"1,307 kWh",204 kW,787000.00,2151870.00,$549K,$15.57,$0M,777 kW,318052.00,1189796.00

In [37]:
midpoint.describe()

,Cost Point Selector,BAU Demand Cost,BAU Energy Cost,Total Demand Savings ($),Total kWh Savings ($)
count,690.00,690.00,690.00,690.00,690.00
mean,1.00,317187.51,1250769.90,56055.60,312400.51
std,0.00,674986.57,1805570.50,196787.72,749083.49
min,1.00,0.00,27280.00,0.00,-3.00
25%,1.00,12223.70,232032.75,0.00,22.12
50%,1.00,84094.80,582058.00,1272.25,75813.50
75%,1.00,334127.50,1406270.00,29376.18,299106.50
max,1.00,7658200.00,16224000.00,2972380.00,9631510.00

In [39]:
midpoint.describe(include='all')

,Rate,Building Type,City,Cost Point Selector,Battery Capacity (kWh),Battery Power (kW),BAU Demand Cost,BAU Energy Cost,Capital Cost ($),Max Demand Rate ($/kW),Npv ($),PV Size (kW),Total Demand Savings ($),Total kWh Savings ($)
count,690,690,690,690.00,690,690,690.00,690.00,690,690,690,690,690.00,690.00
unique,73,16,17,nan,130,78,nan,nan,276,51,4,322,nan,nan
top,SC-9_-_General_Large_Voluntary_TOD_Service_[NYC],Outpatient,San Francisco,nan,0 kWh,0 kW,nan,nan,$0K,$0.00,$0M,0 kW,nan,nan
freq,16,46,73,nan,493,493,nan,nan,176,141,666,179,nan,nan
mean,NaN,NaN,NaN,1.00,NaN,NaN,317187.51,1250769.90,NaN,NaN,NaN,NaN,56055.60,312400.51
std,NaN,NaN,NaN,0.00,NaN,NaN,674986.57,1805570.50,NaN,NaN,NaN,NaN,196787.72,749083.49
min,NaN,NaN,NaN,1.00,NaN,NaN,0.00,27280.00,NaN,NaN,NaN,NaN,0.00,-3.00
25%,NaN,NaN,NaN,1.00,NaN,NaN,12223.70,232032.75,NaN,NaN,NaN,NaN,0.00,22.12
50%,NaN,NaN,NaN,1.00,NaN,NaN,84094.80,582058.00,NaN,NaN,NaN,NaN,1272.25,75813.50
75%,NaN,NaN,NaN,1.00,NaN,NaN,334127.50,1406270.00,NaN,NaN,NaN,NaN,29376.18,299106.50
max,NaN,NaN,NaN,1.00,NaN,NaN,7658200.00,16224000.00,NaN,NaN,NaN,NaN,2972380.00,9631510.00

In [41]:
midpoint.drop(columns=['Cost Point Selector'])

,Rate,Building Type,City,Battery Capacity (kWh),Battery Power (kW),BAU Demand Cost,BAU Energy Cost,Capital Cost ($),Max Demand Rate ($/kW),Npv ($),PV Size (kW),Total Demand Savings ($),Total kWh Savings ($)
0,Primary_Service_A-2_Rate(B)_Time-Of-Use_(TOU),Hospital,Los Angeles,263 kWh,119 kW,2284920.00,7236560.00,"$1,291K",$17.48,$1M,"2,114 kW",513700.00,2731480.00
1,Schedule_MDE-_Medium_Standard_General_Service_...,Supermarket,Seattle,0 kWh,0 kW,84094.80,1194410.00,$0K,$2.32,$0M,0 kW,0.00,0.00
2,BES-Large_Load_Delivery_Class_(Secondary),Hospital,Chicago,0 kWh,0 kW,1025220.00,5216790.00,$0K,$6.73,$0M,0 kW,0.00,0.00
3,Primary_Service_A-2_Rate(B)_Time-Of-Use_(TOU),Restaurant,Los Angeles,9 kWh,4 kW,97555.10,298486.00,$48K,$17.48,$0M,80 kW,22243.20,105042.00
4,General_Service_With_Demand_Meter_(Rate_Code_25),Restaurant,Minneapolis,0 kWh,0 kW,34934.70,237610.00,$28K,$5.86,$0M,50 kW,1039.00,47135.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,BES-Small_Load_Delivery_Class_(Secondary),Strip Mall,Chicago,0 kWh,0 kW,80081.40,308644.00,$0K,$6.18,$0M,0 kW,0.00,0.00
686,Schedule_MDD_-_Medium_Network_General_Service,Retail Store,Seattle,0 kWh,0 kW,50590.30,327988.00,$0K,$4.54,$0M,0 kW,0.00,0.00
687,Schedule_MDT-Medium_Standard_General_Service_T...,Supermarket,Seattle,0 kWh,0 kW,84094.80,1191180.00,$0K,$2.32,$0M,0 kW,0.00,0.00
688,Power_and_Light_Medium_Schedule_PLM-11,Medium Office,Atlanta,0 kWh,0 kW,0.00,402890.00,$0K,$0.00,$0M,0 kW,0.00,0.00
689,General_Service_With_Demand_Meter_(Rate_Code_25),Strip Mall,Minneapolis,0 kWh,0 kW,75272.40,367324.00,$60K,$5.86,$0M,109 kW,6325.00,101085.00