In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import defaultdict

# lowpoint = pd.read_csv('/Users/mattmastin/Desktop/Battery_Research/lowpoint_full.csv')
# midpoint = pd.read_csv('/Users/mattmastin/Desktop/Battery_Research/midpoint_full.csv')
# highpoint = pd.read_csv('/Users/mattmastin/Desktop/Battery_Research/highpoint_full.csv')
# stretchpoint = pd.read_csv('/Users/mattmastin/Desktop/Battery_Research/stretchpoint_full.csv')

lowpoint.shape, midpoint.shape, highpoint.shape, stretchpoint.shape

((690, 14), (690, 14), (690, 14), (690, 14))

In [15]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [66]:
class StringConverter(dict):
    def __contains__(self, item):
        return True
    
    def __getitem__(self, item):
        return str
    
    def __get(self, default=None):
        return str

In [33]:
lowpoint.head()

,Rate,Building Type,City,Cost Point Selector,Battery Capacity (kWh),Battery Power (kW),BAU Demand Cost,BAU Energy Cost,Capital Cost ($),Max Demand Rate ($/kW),Npv ($),PV Size (kW),Total Demand Savings ($),Total kWh Savings ($)
0,E-19_Medium_General_Demand_TOU_(Secondary_Volu...,Fast Food,San Francisco,1,65 kWh,11 kW,87751.00,164109.00,$41K,$34.72,$0M,56 kW,32045.80,74991.00
1,Schedule_TOU-GSD-10_Time_Of_Use_-_General_Serv...,Outpatient,Atlanta,1,0 kWh,0 kW,374541.00,900645.00,$36K,$15.66,$0M,74 kW,15181.00,49003.00
2,Power_and_Light_Medium_Schedule_PLM-11,Retail Store,Atlanta,1,0 kWh,0 kW,0.00,235549.00,$0K,$0.00,$0M,0 kW,0.00,0.00
3,General_Service_(A14),Primary School,Duluth,1,0 kWh,0 kW,300907.00,519891.00,$40K,$14.98,$0M,82 kW,22187.00,54835.00
4,A-10_Medium_General_Demand_Service_(Secondary_...,Supermarket,San Francisco,1,903 kWh,125 kW,471299.00,2346650.00,$551K,$16.78,$0M,770 kW,225257.00,1325750.00

In [67]:
lowpoint = pd.read_csv('/Users/mattmastin/Desktop/Battery_Research/lowpoint_full.csv', 
                       converters=StringConverter())
lowpoint.dtypes

Rate                        object
Building Type               object
City                        object
Cost Point Selector         object
Battery Capacity (kWh)      object
Battery Power (kW)          object
BAU Demand Cost             object
BAU Energy Cost             object
Capital Cost ($)            object
Max Demand Rate ($/kW)      object
Npv ($)                     object
PV Size (kW)                object
Total Demand Savings ($)    object
Total kWh Savings ($)       object
dtype: object

In [71]:
lowpoint = pd.read_csv('/Users/mattmastin/Desktop/Battery_Research/lowpoint_full.csv', 
                       converters=defaultdict(lambda i: str))
lowpoint.dtypes

Rate                         object
Building Type                object
City                         object
Cost Point Selector           int64
Battery Capacity (kWh)       object
Battery Power (kW)           object
BAU Demand Cost             float64
BAU Energy Cost             float64
Capital Cost ($)             object
Max Demand Rate ($/kW)       object
Npv ($)                      object
PV Size (kW)                 object
Total Demand Savings ($)    float64
Total kWh Savings ($)       float64
dtype: object

In [34]:
midpoint.head()

,Rate,Building Type,City,Cost Point Selector,Battery Capacity (kWh),Battery Power (kW),BAU Demand Cost,BAU Energy Cost,Capital Cost ($),Max Demand Rate ($/kW),Npv ($),PV Size (kW),Total Demand Savings ($),Total kWh Savings ($)
0,Primary_Service_A-2_Rate(B)_Time-Of-Use_(TOU),Hospital,Los Angeles,1,263 kWh,119 kW,2284920.00,7236560.00,"$1,291K",$17.48,$1M,"2,114 kW",513700.00,2731480.00
1,Schedule_MDE-_Medium_Standard_General_Service_...,Supermarket,Seattle,1,0 kWh,0 kW,84094.80,1194410.00,$0K,$2.32,$0M,0 kW,0.00,0.00
2,BES-Large_Load_Delivery_Class_(Secondary),Hospital,Chicago,1,0 kWh,0 kW,1025220.00,5216790.00,$0K,$6.73,$0M,0 kW,0.00,0.00
3,Primary_Service_A-2_Rate(B)_Time-Of-Use_(TOU),Restaurant,Los Angeles,1,9 kWh,4 kW,97555.10,298486.00,$48K,$17.48,$0M,80 kW,22243.20,105042.00
4,General_Service_With_Demand_Meter_(Rate_Code_25),Restaurant,Minneapolis,1,0 kWh,0 kW,34934.70,237610.00,$28K,$5.86,$0M,50 kW,1039.00,47135.00

In [35]:
highpoint.head()

,Rate,Building Type,City,Cost Point Selector,Battery Capacity (kWh),Battery Power (kW),BAU Demand Cost,BAU Energy Cost,Capital Cost ($),Max Demand Rate ($/kW),Npv ($),PV Size (kW),Total Demand Savings ($),Total kWh Savings ($)
0,E-32_STANDARD_PRICE_PLAN_FOR_TIME-OF-USE_GENER...,Large Office,Phoenix,1,0 kWh,0 kW,1064400.00,5036200.00,$457K,$6.65,$0M,674 kW,97372.00,709300.00
1,General_Service_(A14),Primary School,Duluth,1,0 kWh,0 kW,300907.00,519891.00,$1K,$14.98,$0M,2 kW,876.00,1235.00
2,E-19_Medium_General_Demand_TOU_(Secondary_Volu...,Restaurant,San Francisco,1,17 kWh,7 kW,155419.00,283560.00,$54K,$34.72,$0M,67 kW,31314.00,95538.00
3,E-32_STANDARD_PRICE_PLAN_FOR_TIME-OF-USE_GENER...,Small Hotel,Phoenix,1,0 kWh,0 kW,106889.00,589592.00,$0K,$6.65,$0M,0 kW,0.00,0.00
4,GS-2_(S)_Large_General_Service_Secondary,Fast Food,Fairbanks,1,0 kWh,0 kW,32908.50,293718.00,$28K,$11.06,$0M,41 kW,1147.70,61013.00

In [36]:
stretchpoint.head()

,Rate,Building Type,City,Cost Point Selector,Battery Capacity (kWh),Battery Power (kW),BAU Demand Cost,BAU Energy Cost,Capital Cost ($),Max Demand Rate ($/kW),Npv ($),PV Size (kW),Total Demand Savings ($),Total kWh Savings ($)
0,LGS-2_Large_General_Service-_Secondary_Distrib...,Large Hotel,LasVegas,1,0 kWh,0 kW,547920.00,1362130.00,$142K,$16.49,$0M,320 kW,904.00,265840.00
1,2A_(Small_Power_Service),Small Office,Albuquerque,1,0 kWh,0 kW,0.00,89940.70,$14K,$0.00,$0M,30 kW,0.00,39972.40
2,BES-Medium_Load_Delivery_Class_(Secondary),Hospital,Chicago,1,0 kWh,0 kW,958188.00,5216790.00,$574K,$6.29,$0M,"1,287 kW",50744.00,965060.00
3,Power_and_Light_Medium_Schedule_PLM-11,Fast Food,Atlanta,1,0 kWh,0 kW,0.00,85605.10,$0K,$0.00,$0M,0 kW,0.00,0.00
4,Time-Of-Use_-_General_Service_-_Large_TOU-8_Op...,Large Hotel,Anaheim,1,"1,307 kWh",204 kW,787000.00,2151870.00,$549K,$15.57,$0M,777 kW,318052.00,1189796.00

In [126]:
low = lowpoint.copy()
mid = midpoint.copy()
high = highpoint.copy()
stretch = stretchpoint.copy()

low['Battery Capacity (kWh)'] = low['Battery Capacity (kWh)'].str.slice(0, -3, 1
                                                            ).str.replace(',', '').astype(int)
low['Battery Power (kW)'] = low['Battery Power (kW)'].str.slice(0, -3, 1
                                                            ).str.replace(',', '').astype(int)
low['Capital Cost ($)'] = low['Capital Cost ($)'].str.slice(1, -1, 1
                                                            ).str.replace(',', '').astype(int) * 1000
low['Max Demand Rate ($/kW)'] = low['Max Demand Rate ($/kW)'].str.slice(1, 5, 1).astype(float)
low['Npv ($)'] = low['Npv ($)'].str.slice(1, 2, 1).astype(int) * 1000000
low['PV Size (kW)'] = low['PV Size (kW)'].str.slice(0, -2, 1).str.replace(',', '').astype(int)


mid['Battery Capacity (kWh)'] = mid['Battery Capacity (kWh)'].str.slice(0, -3, 1
                                                            ).str.replace(',', '').astype(int)
mid['Battery Power (kW)'] = mid['Battery Power (kW)'].str.slice(0, -3, 1
                                                            ).str.replace(',', '').astype(int)
mid['Capital Cost ($)'] = mid['Capital Cost ($)'].str.slice(1, -1, 1
                                                            ).str.replace(',', '').astype(int) * 1000
mid['Max Demand Rate ($/kW)'] = mid['Max Demand Rate ($/kW)'].str.slice(1, 5, 1).astype(float)
mid['Npv ($)'] = mid['Npv ($)'].str.slice(1, 2, 1).astype(int) * 1000000
mid['PV Size (kW)'] = mid['PV Size (kW)'].str.slice(0, -2, 1).str.replace(',', '').astype(int)


high['Battery Capacity (kWh)'] = high['Battery Capacity (kWh)'].str.slice(0, -3, 1
                                                            ).str.replace(',', '').astype(int)
high['Battery Power (kW)'] = high['Battery Power (kW)'].str.slice(0, -3, 1
                                                            ).str.replace(',', '').astype(int)
high['Capital Cost ($)'] = high['Capital Cost ($)'].str.slice(1, -1, 1
                                                            ).str.replace(',', '').astype(int) * 1000
high['Max Demand Rate ($/kW)'] = high['Max Demand Rate ($/kW)'].str.slice(1, 5, 1).astype(float)
high['Npv ($)'] = high['Npv ($)'].str.slice(1, 2, 1).astype(int) * 1000000
high['PV Size (kW)'] = high['PV Size (kW)'].str.slice(0, -2, 1).str.replace(',', '').astype(int)


stretch['Battery Capacity (kWh)'] = stretch['Battery Capacity (kWh)'].str.slice(0, -3, 1
                                                            ).str.replace(',', '').astype(int)
stretch['Battery Power (kW)'] = stretch['Battery Power (kW)'].str.slice(0, -3, 1
                                                            ).str.replace(',', '').astype(int)
stretch['Capital Cost ($)'] = stretch['Capital Cost ($)'].str.slice(1, -1, 1
                                                            ).str.replace(',', '').astype(int) * 1000
stretch['Max Demand Rate ($/kW)'] = stretch['Max Demand Rate ($/kW)'].str.slice(1, 5, 1).astype(float)
stretch['Npv ($)'] = stretch['Npv ($)'].str.slice(1, 2, 1).astype(int) * 1000000
stretch['PV Size (kW)'] = stretch['PV Size (kW)'].str.slice(0, -2, 1).str.replace(',', '').astype(int)

In [83]:
midpoint.isna().sum()

Rate                        0
Building Type               0
City                        0
Cost Point Selector         0
Battery Capacity (kWh)      0
Battery Power (kW)          0
BAU Demand Cost             0
BAU Energy Cost             0
Capital Cost ($)            0
Max Demand Rate ($/kW)      0
Npv ($)                     0
PV Size (kW)                0
Total Demand Savings ($)    0
Total kWh Savings ($)       0
dtype: int64

In [131]:
low.drop(columns=['Cost Point Selector'])
mid.drop(columns=['Cost Point Selector'])
high.drop(columns=['Cost Point Selector'])
stretch.drop(columns=['Cost Point Selector']);

In [128]:
mid.head()

,Rate,Building Type,City,Cost Point Selector,Battery Capacity (kWh),Battery Power (kW),BAU Demand Cost,BAU Energy Cost,Capital Cost ($),Max Demand Rate ($/kW),Npv ($),PV Size (kW),Total Demand Savings ($),Total kWh Savings ($)
0,Primary_Service_A-2_Rate(B)_Time-Of-Use_(TOU),Hospital,Los Angeles,1,263,119,2284920.00,7236560.00,1291000,17.40,1000000,2114,513700.00,2731480.00
1,Schedule_MDE-_Medium_Standard_General_Service_...,Supermarket,Seattle,1,0,0,84094.80,1194410.00,0,2.32,0,0,0.00,0.00
2,BES-Large_Load_Delivery_Class_(Secondary),Hospital,Chicago,1,0,0,1025220.00,5216790.00,0,6.73,0,0,0.00,0.00
3,Primary_Service_A-2_Rate(B)_Time-Of-Use_(TOU),Restaurant,Los Angeles,1,9,4,97555.10,298486.00,48000,17.40,0,80,22243.20,105042.00
4,General_Service_With_Demand_Meter_(Rate_Code_25),Restaurant,Minneapolis,1,0,0,34934.70,237610.00,28000,5.86,0,50,1039.00,47135.00

In [105]:
mid.describe()

,Cost Point Selector,Battery Capacity (kWh),BAU Demand Cost,BAU Energy Cost,Total Demand Savings ($),Total kWh Savings ($)
count,690.00,690.00,690.00,690.00,690.00,690.00
mean,1.00,49.74,317187.51,1250769.90,56055.60,312400.51
std,0.00,210.51,674986.57,1805570.50,196787.72,749083.49
min,1.00,0.00,0.00,27280.00,0.00,-3.00
25%,1.00,0.00,12223.70,232032.75,0.00,22.12
50%,1.00,0.00,84094.80,582058.00,1272.25,75813.50
75%,1.00,9.75,334127.50,1406270.00,29376.18,299106.50
max,1.00,2765.00,7658200.00,16224000.00,2972380.00,9631510.00